@use '../abstracts/' as *;

.new-game-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 460px;
  width: 100%;

  @include breakpoint(medium) {
    gap: 40px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    @include breakpoint(medium) {
      gap: 20px;
    }
  }
}
